<footer class="page-footer font-small pt4 bground">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="" target="_blank"><img src="https://i.imgur.com/MVvGiAb.png" alt="facebook"></a>
                    </li>

                    <li>
                        <a href="" target="_blank"><img src="https://i.imgur.com/OPhJ6oy.png" alt="linkedin"></a>
                    </li>

                    <li>
                        <a href="" target="_blank"><img src="https://i.imgur.com/7G2M3uO.png" alt="github"></a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="footer-copyright text-center py-1 bgcopy">
            <span class="text-light">&copy; 2021 copyright: alyenoid404</span>
        </div>

    </div>
</footer>